<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <title>403 无访问权限</title>
  <meta name="description" content="403"></meta>
  <meta name="keywords" content="index"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
  <meta name="renderer" content="webkit"></meta>
  <meta http-equiv="Cache-Control" content="no-siteapp"></meta>
  <link rel="icon" type="image/png" href="../../static/assets/i/favicon.png""></link>
  <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png"></link>
  <meta name="apple-mobile-web-app-title" content="创澳商务"></meta>
  <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"></link>
  <link rel="stylesheet" href="../../static/assets/css/admin.css"></link>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，网站暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong>创澳商务</strong> <small>403 Error</small>
  </div>
</header>

<div class="am-cf admin-main">  

  <!-- content start -->
  <div class="admin-content" id="contentDiv">
		<h1>无访问权限！</h1>
  </div>
  <!-- content end -->

</div>



<footer>
	<p class="am-padding-left">
		? 2016 <a href="http://www.mychuangao.com" target="_blank">创澳商务信息咨询有限公司</a> 
		&nbsp;&nbsp; 备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备15024633号-2</a>
		. &nbsp;&nbsp; by the ChuangAo Team.
	</p>
	<!--[if lt IE 9]>
	<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	<script src="../../static/assets/js/amazeui.ie8polyfill.min.js"></script>
	<![endif]-->

	<!--[if (gte IE 9)|!(IE)]><!-->
	<script src="../../static/assets/js/jquery.min.js"></script>
	<!--<![endif]-->
	<script src="../../static/assets/js/amazeui.min.js"></script>
	<script src="../../static/assets/js/app.js"></script>


	
</footer>



</body>
</html>
